body {
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    font-size: 'Red Hat Display', sans-serif;
}

.card {
    width: 420px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(103,80,156,0.3);
}
